* {
    padding: 0;
    margin: 0;
}

.header {
    background: url('../img/bg.png') no-repeat center;
    padding: 0 15%;
    background-size: cover;
}

.navbar {
    padding: 40px 0;
    border-bottom: 1px solid grey;
}

.logo {
    width: 190px;
    height: 25px;
    background: url('../img/logo.png') no-repeat center;
}

.menu {
    width: 60%;
}

.point {
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.header_block {
    padding: 156px 100px;
    text-align: center;
}

.header_title {
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    font-size: 45px line-height : 1.09 em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.header_announce {
    margin: 41px 0 77px;
    font-size: 22px;
    line-height: 1.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.red_button {
    border-radius: 2px;
    background-color: #e84545;
    padding: 18px 0;
    text-align: center;
    min-width: 200px;
    border: 1px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.62em;
    text-transform: uppercase;
    color: #ffffff;
}

/* Second Block*/
.advantages {
    width: 100%;
    background: white;
}

.advantages_grid {
    margin: 120px 15%;
}

.advantages_grid_item {
    position: relative;
    margin: 20px;
}

.advantages_icon {
    width: 70px;
    height: 60px;
    margin-bottom: 35px;
}

.advantages_title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.advantages_txt {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;
    color: #6c7279;
    margin-bottom: 25px;
}
.works{
    position: relative;
}
.works_grid {
    width: 100%;
}

.works_grid_item {
    position: relative;
    box-sizing: border-box;
    max-height: 250px;
    border: .5px solid grey;
}

.works_grid_item:first-child {
    border-left: none;
}

.works_grid_item:last-child {
    border-right: none;
}

.works_grid_item img {
    width: 100%;
    height: 100%;
}

.works_grid_item_overlay, .works_grid_item_title, .works_grid_item_txt, .works_grid_item_content {
    opacity: 0;
    transition: all 0.5s ease;
    background: transparent;
}

.works_grid_item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.works_grid_item_content {
    opacity: 1;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    transition: all .3s ease-out;
    margin: 0 auto;
}

.works_grid_item:hover .works_grid_item_overlay {
    opacity: 1;
    transition: all .3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
}

.works_grid_item_title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.62em;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.works_grid_item_txt {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.62em;
    text-align: center;
    color: #ffffff;
}

.works_grid_item:hover .works_grid_item_txt, .works_grid_item:hover .works_grid_item_title, .works_grid_item:hover .works_grid_item_content {
    opacity: 1;
    transition: all .3s ease-out;
}

.footer-main {
    background-color: #3a3e64;
    padding: 20px 15%;
}

.footer-item {
    margin: 20px 10px;
    /*border: 1px solid black;*/
}

.footer-item-title {

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;

    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

.footer-item-content {

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.64em;
    font-weight: 300;
    text-align: center;
    max-width: 270px;
}

.footer_txt {
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.5);
}

.footer-item-content-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.footer-end {
    background-color: #313454;
    padding: 30px 0;
}

.footer-end-content {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.copyright-txt, .copyright-author {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.64em;

    text-align: center;
    color: #808080;
}

.copyright-author-logo {
    font: 14px Webdings;
    color: #e84545;
}

.copyright-author {
    color: #ffffff;
}

.form{
    display: none;
    width: 100%;
    background: mediumaquamarine;
    text-align: center;
    padding: 20px;
    /*transform: translateY(-50%);*/
    /*transition: all 3s ease;*/
}
#personalInfo{
    border: none;
}
.form-title, .label{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 5px;
    color: #ffffff;
}
.form-inputs{
    margin: 5px;
}
.form_open_button{
    position: absolute;
    z-index: 5;
    right: 0;
    padding: 10px;
    background-color: grey;
    border-radius: 15%;
}
.opened{
    display: block;
    transition: all 3s ease;
    background-color: #313454;

}
.button{
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5em;
}