* {
    padding: 0;
    margin: 0;
}

header {
    height: 750px;
    width: 100%;
}

.header {
    background: url('../img/bg.png') no-repeat center;
    padding: 0 15%;
    background-size: cover;
}

.navbar {
    /*height: 100px;*/
    padding: 40px 0;
    border-bottom: 1px solid grey;
}

.logo {
    width: 190px;
    height: 25px;
    background: url('../img/logo.png') no-repeat center;
}

.menu {
    width: 60%;
}

.point {
    /*border: 1px solid red;*/
    opacity: 0.75;
    font: bold 13px Raleway;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.header_block {
    padding: 156px 100px;
    text-align: center;
}

.header_title {
    font: bold 45px/1.09em "Open Sans";
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.header_announce {
    margin: 41px 0 77px;
    font: 22px/1.5em Raleway;
    text-align: center;
    color: #ffffff;
}

.red_button {
    border-radius: 2px;
    background-color: #e84545;
    padding: 18px 0;
    text-align: center;
    min-width: 200px;

    font: 600 13px/1.62em Raleway;
    color: #ffffff;
}

/* Second Block*/
.advantages {
    height: 690px;
    width: 100%;
    background: white;
}

.advantages_grid {
    margin: 120px 15%;
}

.advantages_grid_item {
    position: relative;
    margin: 20px;
}
.works_grid_item_overlay, .works_grid_item_title,.works_grid_item_txt{
    /*opacity: 0;*/
    padding: 150px;

}

.advantages_grid_item:hover .works_grid_item_overlay{
    opacity: 1;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,0,0, 0.5);
}
.advantages_grid_item:hover .works_grid_item_title{

}



.advantages_icon {
    width: 73px;
    height: 60px;
    margin-bottom: 35px;
}

.advantages_icon img {
    width: 100%;
    height: 100%;

}

.advantages_title {
    font: bold 14px Raleway;
    text-align: center;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.advantages_txt {
    font: 14px/1.5em Raleway;
    text-align: center;
    color: #6c7279;
    margin-bottom: 25px;
}


